.encabezado {
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    display: flex;
    margin: auto;
    border-bottom: 2px solid black;
}

.menuhorizontal {
    display: flex;
    list-style-type: none;
    align-items: center;
    align-content: space-around;
    margin

}

.icon-cart {
 
  width: 30px;
  height: 30px;

  
}

.icon-cart:hover {
cursor: pointer;

}

.linkmenu {
    padding: 10px;
    border-radius: 5px;
    border-color: 1px solid blue;
    text-decoration-color: blue;
}

.linkmenu a:hover {
    background-color: rgb(152, 152, 255);
    text-decoration-color: white;
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#titulocentral {
    text-align: center;
     font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
    justify-content: center;
}
img{
  max-width: 100%;
}

.contador{
  position: absolute;
  background-color: black;
  top: 75%;
  right: -1em;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.icon-container {
  position: relative;

}
.container-cart-products {
position: absolute;
top: 50px;
right: 0;
background-color: white;
width: 400px;
z-index: 1;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
border-radius: 10px;
}

.hidden-cart {

  display: none;
}
.cart-product {
display: flex;
justify-content: space-between;
padding: 30px;
align-items: center;
border-bottom: 1px solid black;
}

.info-cart-product {
display: flex;
justify-content: space-between;
flex: 0.8;

}
.icon-close {
  width: 25px;
  height: 25px;
}
.contador-productos{ font-size: 20px;

}

.cantidad-producto-carrito {
  font-size: 20px;
  font-weight: 300;


}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;

}

.cart-total {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
gap: 20px;

}

.cart-total h3{
  font-weight: 700;
  font-size: 20px;
  
}

.total-pagar {
font-size: 20px;
font-weight: 900;

}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
  
  .grid-item {
  background-color: gray;


  }
  .grid-item figure img {
    width: 100%;
    height: 200 px;
    object-fit: cover;
  }
   .producto { padding-left: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
   .precio{ font-size: large;
  font-weight: 900;}

  .producto button {
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    justify-content: center;

  }

  .producto button:hover{
    background-color: rgb(255, 252, 252);
    border: 1px solid black;
    color: black;

  }

section form {
padding: 1.5rem;
display: flex;
flex-wrap: wrap;
max-width: 500px;
border-radius: 20px;
border: 2px solid rgba(0, 0, 0, 0.20);
}

section form label {
width: 100px;
padding: 0.2em;
margin-bottom: 0.5em;
}

section form input {
width: 100%;
margin-bottom: 1.0em;
padding: 0.8em;
border-radius: 9px;
border: none;
outline-color: #003DFF;
background-color: #eee;

}
section form input [tipe='submit'] {

  margin-top: 1.5em;
  background-color: #003DFF;
  color: #eee; 
  font-family: var(--font-mono);
  transition: var(--transition);
}

section form input [tipe='submit']:active {

  transform: scale(0.97);
}
section p {
  margin-top: 1.5em;

}
section p a {
  text-decoration: none;
  color: #003DFF;
}

.button{
  background-color: #003DFF;
  color: #eee; 
  font-family: var(--font-mono);
  transition: var(--transition);
  border: none;
  padding: 0,5em 1em;
  border-radius: 9px;
  margin-top: 1.5em;
  font-size: 1em;

}